# // DECISION TREE REGRESSOR //

In [1]:
import pandas as pd #For reading the dataset and to perform framing functions if needed
import numpy as np #linear algebra function
import matplotlib.pyplot as plt #for visualizing the data
import seaborn as sns #for data distribution
import warnings
warnings.filterwarnings("ignore")

#Importing the dataset
I have used a 'Rainfall dataset' to perform this Decision tree regressor to predict windspeed

In [2]:
rain=pd.read_csv('C:/Users/ADMIN/Documents/Datasets Kaggle/rainfall.csv')
rain.head()

         date  rainfall  temperature  humidity  wind_speed weather_condition
0  2022-01-01      12.5         15.2      78.0         8.5             Rainy
1  2022-01-02       8.2         17.8      65.0         5.2             Rainy
2  2022-01-03       0.0         20.1      52.0         3.1             Sunny
3  2022-01-04       3.7         18.6      71.0         6.7             Rainy
4  2022-01-05      21.1         14.8      82.0         9.3             Rainy

#Analysing and preprocessing the dataset

In [3]:
rain=rain.drop(columns='date')

In [4]:
new_rain=rain.dropna(how='any')

In [5]:
rain.shape,rain.describe()

((54, 5),
         rainfall  temperature   humidity  wind_speed
 count  53.000000    53.000000  53.000000   53.000000
 mean    9.049057    17.950943  69.245283    6.403774
 std     6.712521     2.500663  11.969361    2.209069
 min     0.000000    13.900000  44.000000    2.100000
 25%     3.900000    16.100000  62.000000    4.700000
 50%     8.300000    17.800000  72.000000    6.700000
 75%    14.800000    19.400000  78.000000    8.300000
 max    21.800000    23.400000  89.000000   10.500000)

In [6]:
#creating a dataset based on our requirements
a=new_rain.rainfall
b=new_rain.temperature
c=new_rain.humidity
d=new_rain.weather_condition.replace({'Sunny':0,'Rainy':1})
data=pd.DataFrame([a,b,c,d])
data.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
rainfall,12.5,8.2,0.0,3.7,21.1,15.3,6.8,0.0,11.2,18.6,...,14.8,20.5,8.3,0.0,5.1,11.9,17.3,9.6,0.0,7.4
temperature,15.2,17.8,20.1,18.6,14.8,16.5,19.2,21.7,17.3,15.8,...,13.9,15.6,19.2,22.7,17.4,14.1,15.9,18.6,21.3,16.8
humidity,78.0,65.0,52.0,71.0,82.0,75.0,61.0,48.0,73.0,79.0,...,87.0,81.0,68.0,51.0,75.0,89.0,83.0,71.0,55.0,77.0
weather_condition,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0

In [7]:
x=data.T #Transpose of the dataframe
x.head()

   rainfall  temperature  humidity  weather_condition
0      12.5         15.2      78.0                1.0
1       8.2         17.8      65.0                1.0
2       0.0         20.1      52.0                0.0
3       3.7         18.6      71.0                1.0
4      21.1         14.8      82.0                1.0

In [8]:
y=new_rain.wind_speed
y.head()

0    8.5
1    5.2
2    3.1
3    6.7
4    9.3
Name: wind_speed, dtype: float64

#Splitting the dataset into training and test dataset

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#Training the model

In [10]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
tree=DecisionTreeRegressor()

In [11]:
para={'criterion':['squared_error','friedman_mse','absolute_error','poisson']}

In [12]:
tree_model=GridSearchCV(tree,para,scoring='neg_mean_squared_error',cv=5)
tree_model.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson']},
             scoring='neg_mean_squared_error')

In [13]:
y_pred=tree_model.predict(x_train)
y_pred.flatten()

array([ 6.1,  2.5,  4.5,  6.2,  9.3,  6.9,  6.8,  8.2,  8.9,  8.6,  7.2,
        8.9,  4.9,  5.1,  2.7,  4.7,  3.5,  8.5,  4.5,  7.3,  3.7,  7.8,
        7.6,  6.1,  5.2,  4.1,  3.1,  5.5,  4.3,  8.3, 10.5,  5.7,  7.1,
        6.7,  8.9,  5.3,  2.9,  7.7,  8.7,  9.5,  5.1,  9.3])

In [14]:
tree_model.best_params_

{'criterion': 'absolute_error'}

In [15]:
from sklearn.metrics import r2_score
score=r2_score(y_train,y_pred)
print(score*100)

100.0

In [16]:
input=[23.1,21,96,1]
result=tree_model.predict([input])
result

array([7.6])

Based our own data, we can calculate the wind speed using this algorithm